@import "./base.css";

.container{
    max-width: 1728px;
    margin: 0 auto;
}

.ag-root-wrapper{
   border: none !important;
}

.ag-header-cell-resize::after{
    width: 1px !important;
    height:100% !important;
    background-color: #eeeff1 !important;
    top: 0 !important;
}

.ag-header-viewport{
    background: #ffffff !important;
}

.ag-header-cell-text{
    font-size: 16px;
    font-weight: 600;
}

.ag-cell{
    cursor: pointer;
}

.ag-cell:nth-child(2){
    padding: 0;
    overflow: visible !important;
}

.ag-column-first{
    display: flex !important;
    align-items: center !important;
}

.ag-drag-handle{
    margin-right: 5px !important;
}

.ag-icon-grip::before {
    content: "" !important;
    display: block !important;
    background: url("../assets/icons/32143241223Combined Shape.svg") no-repeat center;
    width: 16px;
    height: 16px;
}
